section.call-to-action {
	background-color: $color-blue-dark;

	width: 100%;

	padding: 16px 36px;

	text-align: center;

	color: $color-orange;

	h1 {
		font-family: Sabon-ItalicOsF, Garamond, serif;
		font-style: italic;
		font-size: 45px;
		letter-spacing: 2px;
		margin-bottom: 38px;
	}

	h2 {
		font-family: Montserrat-Bold;
		font-size: 17px;
		color: $color-white;
		letter-spacing: 2px;
		text-transform: uppercase;

		margin-bottom: 50px;

		a {
			border-bottom: 2px solid $color-white;
			padding-bottom: 7px;
		}
	}

	ul {
		list-style-type: none;
		margin-bottom: 34px;

		li {
			display: inline;
			margin: 0 16px;
		}

		a {
			font-size: 11px;

			letter-spacing: 0.61px;
			padding: 14px 18px;
		}
	}

	h3 {
		font-family: Montserrat-Bold;
		text-transform: uppercase;
		font-size: 19px;
		letter-spacing: 2px;
		margin-bottom: 17px;
	}

	p {
		margin-bottom: 15px;
	}
}