section.events {

	background-color: #F9D3C2;

	.event {

		h4 {
			font-family: 'Futura', sans-serif;
			font-size: 1.35em;
			margin-bottom: 1.25em;
		}

		h5 {
			font-family: 'Futura', sans-serif;
			font-weight: bold;
			color: #ffffff;

			font-size: 0.66em;
			height: 3em;
			line-height: 1.5;
			letter-spacing: 0.3em;
			text-transform: uppercase;
		}

		strong {
			font-weight: bold;
		}
	}

}
