footer {

	background-color: black;
	color: white;

	padding: 50px 0;

	.container {

		justify-content: space-between;

		// Applies to self and immediate child divs
		&, > div {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}

	}

	// Disable word-wrapping by default
	* {
		white-space: nowrap;
	}

	.footer-left {

		justify-content: flex-start;
	}

	.footer-right {

		justify-content: flex-end;

	}

	// Social media icons
	a {
		display: inline-block;
		font-size: 1em;
		line-height: 1;

		img {
			height: 2em
		}

	}

}