// Header's breakpoints are mostly independent of the other sections
#header-placeholder, #sub-header-placeholder {
	background-color: $color-blue;
	width: 100%;
}

header {

	@mixin break-logo {
		@media (max-width: 960px) {
			@content;
		}
	}

	@mixin break-dates {
		// @media (max-width: 880px) and (min-width: 581px) {
		@media (max-width: 880px) {
			@content;
		}
	}

	@mixin break-member {
		@media (max-width: 770px) {
			@content;
		}
	}

	@mixin break-title {
		@media (max-width: 580px) {
			@content;
		}
	}

	@mixin break-margins {
		@media (max-width: 400px) {
			@content;
		}
	}

	@mixin break-ticket {
		@media (max-width: 380px) {
			@content;
		}
	}

	position: relative;
	z-index: 2;

	background-color: $color-blue;
	width: 100%;

	padding: 1em 0;

	.container {

		justify-content: space-between;

		// Applies to self and immediate child divs
		&, > div {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}

		margin: 0;
	}

	@media #{$mq-smallest} {
	    .container {
		padding: 0 4%;
	    }
	}

	// Disable word-wrapping by default
	* {
		white-space: nowrap;
	}

	.header-left {

		justify-content: flex-start;

		flex-grow: 2;

		a {
			display: inline-block;

			// transition: height 0.25s;
			width: 4em;
			height: 4em;

			img {
			    height: 50%;
			    margin: auto;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			}

			@media #{$mq-small} {
			    img {
				height: 70%;
			    }
			}

		}

		.exhibit {

			color: $color-orange;

			padding: 0 0.5em;

			@include break-margins {
				padding-right: 20px;
			}

			span {
				display: inline-block;
			}

			span.title {
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;

				text-transform: uppercase;
				letter-spacing: 0.2em;

				font-size: 1.2em;
			}

		}

		@media #{$mq-small} {
		    .exhibit {
			padding: 0 1em;
		    }
		}


	}

	.header-right {

		justify-content: space-between;

		flex-grow: 1;

		span.dates {
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;

			text-transform: uppercase;
			letter-spacing: 0.76px;

			font-size: 0.8em;

			color: $color-orange;

			@include break-dates {

				text-align: center;

				.start, .end {
					display: block;
				}

				.dash {
					display: none;
				}

			}

		}

		.btn-member {
			@include break-member {
				display: none;
			}
		}

		.btn-ticket .verb {
			@include break-ticket {
				display: none;
			}
		}

	}
}

section.sub-header {
    background-color: #CC9A2C;
    text-align: center;
    padding: 0.2em;
    font-size: 0.75em;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    width: 100%;
    z-index: 2;
}

