section.shop {
	position: relative;
	background-color: $color-green-light;

	width: 100%;

	padding: 16px 36px;

	border-bottom: 10px solid $color-orange;

	display: flex;

	.title {

		width: 25%;

		h2 {
			font-size: 32px;
			color: $color-blue-dark;
			margin-top: 30px;
		}

		p {
			margin-top: 40px;

			a {
				font-size: 11px;
				letter-spacing: 0.61px;
				padding: 14px 18px;
			}
		}
	}

	.wrapper {

		display: flex;
		padding: 16px 36px 16px 0;

		.shop-item {

			margin-right: 20px;
			padding: 20px;
			max-width: 240px;

			.image-container {
				background-color: $color-grey-light;
				min-height: 200px;
				min-width: 200px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 10px;
			}

			h4 {
				font-family: 'Futura', sans-serif;
				font-size: 24px;
			}

			p {
				font-family: 'Futura', sans-serif;
				font-weight: bold;
				color: $color-white;

				font-size: 12px;
				line-height: 35px;
				letter-spacing: 3.54px;
			}
		}
	}
}