section.slideshow {

	@include container-absolute( 90%, 45%, false );

	.swiper-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.swiper-slide {
		// TODO: Change this depending @media
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.swiper-pagination-bullet {
		background-color: white;
		opacity: 1;

    	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

		width: 10px;
		height: 10px;

	}

	.swiper-pagination-bullet-active {
		background-color: #9B9B9B;
	}

	.title-card {

		position: absolute;
		right: 0;
		bottom: 80px;

		z-index: 2;

		background-color: #D1E5D9;

		padding: 1em 1.5em;

		// TODO: Change this!
		padding-right: 20%;
		width: 45%;

		h2 {
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;

			text-transform: uppercase;
			letter-spacing: em(4);

			line-height: 1.2;
			font-size: 1.6em;

			color: #649D8E;
		}

		h1 {
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;

			text-transform: uppercase;
			letter-spacing: em(5);

			line-height: 1;
			font-size: 1em;

			margin: 0.9em 0;

			color: #F889A6;
		}

		.events {

			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;

			.event {

				span {
					display: block;
				}

				.title {

					font-family: 'Sabon', Garamond, serif;
					font-style: italic;

					font-size: 0.8em;

				}

				.date {

					font-family: 'Knockout', sans-serif;

					text-transform: uppercase;
					letter-spacing: em(1.1);

					font-size: 0.7em;

				}

			}

		}

	}

}