section.sponsors {

	background-color: #232323;
	color: white;

	// All sections except media have titles
	h5 {
		text-transform: uppercase;
		font-family: 'Didact Gothic', sans-serif;
		letter-spacing: em(1.33);
		font-size: 0.875em;
	}

	// Sponsor icons are not links!
	img {
		opacity: 0.62;
		margin-right: 1em;
	}

	img:last-of-type() {
		margin-right: 0;
	}

	.container {

		display: flex;
		flex-wrap: wrap;

		justify-content: space-between;
		align-items: flex-start;

		// Spacing stuff...
		> div {

			align-self: stretch;

			display: flex;
			flex-wrap: wrap;

			flex-direction: column;
			align-items: flex-stretch;

			justify-content: space-between;

			padding: 0.75em;
			overflow: hidden;

			span, div, h3 {
				// white-space: nowrap;
				padding: 0.75em 0;
			}

			h5 {
				padding: 0.75em 0;
				// flex-basis: 100%;
			}

		}

		.links {

			flex-basis: 100%;
			align-items: center;

			// Social media icons
			a {
				display: inline-block;
				font-size: 2em;
				line-height: 1;
				height: 1em;

				vertical-align: middle;

				img {
					opacity: 1;
					height: 100%;
					margin: 0 0.25em;
				}

			}

		}

		.organized {

			white-space: nowrap;

			img.aic {
				height: 45px;
			}

			div {
				// display: flex;
				// justify-content: space-between;
			}

		}

		.sponsor {
			flex-basis: 50%;
		}

		.support {

			flex-basis: 50%;

			h3 {
				font-family: 'Amiri', serif;
				font-style: italic;

				letter-spacing: .03em;
				font-size: 1.25em;

				opacity: 0.64;
			}

		}


		@media #{$mq-small} {

			.organized {
				flex-basis: 70%;
			}

			.sponsor {
				flex-basis: 30%;
			}

			.support {
				flex-basis: 100%;
			}

		}

		@media #{$mq-medium} {

			.organized {
				flex-basis: 40%;
			}

			.sponsor {
				flex-basis: 20%;
			}

			.support {
				flex-basis: 35%;
			}

		}

	}

}
