// General spacing b/w elements
$theme-gutter: 30px;

// Gap on the left on non-mobile screens
$theme-offset: 10%;

// Mixin for the partial background
@mixin theme-background( $color ) {

	background: $color;

	@media #{$mq-small} {
		background: linear-gradient(90deg, white $theme-offset, $color $theme-offset);
	}

}

// Common styles shared by all the themes
section.theme {

	.container {
		position: relative;

		// Spacing stuff... should be 2x .wrapper's margin
		padding: $theme-gutter 0;
	}

	// Thematic topic
	h2 {
		@include font-accent();
		letter-spacing: em(3.54);
		line-height: 2.1;

		text-transform: uppercase;
		color: #CC9A2C;

		// Hidden on mobile
		display: none;
	}

	// Everything collapses into a column on mobile
	.wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;

		// More spacing stuff...
		margin: $theme-gutter/-2 0;

		> * {
			margin: $theme-gutter/2 0;
		}
	}


	.image, img {

		max-height: 80vh;
		width: 100%;

	}

	.content {

		// Weird, but needed for flexbox
		width: 100%;

		h1 {
			@include font-heading();
			letter-spacing: em(0.6);
			line-height: 1.48;

			// Last spacing stuff...
			margin-bottom: $theme-gutter;
		}

		p {
			@include font-copy();
			letter-spacing: em(0.04);
		}

	}

	@media #{$mq-small} {

		.wrapper {
			align-self: stretch;
			margin-left: $theme-offset;
			padding-left: $theme-offset;
		}

		h2 {
			display: block;

			position: absolute;
			bottom: 2em;
			left: 5%;

			transform: translateX(-50%);

			// Force it to wrap
			max-width: 10%;
		}
	}


	@media #{$mq-xlarge} {
		h2 {
			left: 10%;
		}
	}

}


section.theme-1-portrait {

	@include theme-background(#DAEFE3);

	@media #{$mq-smaller} {

		.wrapper {
			flex-direction: row;
		}

	}

}


section.theme-1-landscape {

	@include theme-background(#E5F0DA);

	@media #{$mq-small} {

		.wrapper {
			flex-wrap: nowrap;
		}

		.content {
			align-self: flex-end;
			max-width: 65%;
		}
	}

	@media #{$mq-smallish} {
		.content {
			max-width: 50%;
		}
	}

}

section.theme-2 {
	@include theme-background(#F9F5D3);
}

section.theme-3 {
	@include theme-background(#EEE0F1);
}

section.theme-4 {
	@include theme-background(#DFF5F3);
}