$color-green:   #c4dac3;

$color-yellow:  #f9f39f;
$color-orange:  #cc992c;

$color-blue-light:   #c4e9fb;
$color-blue-dark:    #0a142f;

$color-pink-light:   #fccfb2;
$color-pink-dark:    #ddb093;

$color-text:    #091336;

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: $color-text;
}
