$color-green:   #c4dac3;

$color-yellow:  #f9f39f;
$color-orange:  #cc9a2c;
$color-white:   #ffffff;

$color-blue-light:   #c4e9fb;
$color-blue-dark:    #0a142f;

$color-pink-light:   #fccfb2;
$color-pink-dark:    #ddb093;

$color-text:    #091336;


body {
	font-family: 'Elido', sans-serif;
	color: $color-text;
}

section {
	min-height: calc(90vh - 80px);
}

.btn,
section.call-to-action ul a {

	display: inline-block;
	background-color: $color-orange;

	font-family: 'Montserrat', sans-serif;
	font-weight: bold;

	text-transform: uppercase;
	text-align: center;

	white-space: nowrap;

	color: $color-blue-dark;

	* {
		line-height: 1;
	}

	~ .btn {
		margin-left: 10px;
	}

	&.btn-small {

		font-size: 11px;

		letter-spacing: 0.61px;
		padding: 14px 18px;

	}

	&.btn-large {

		font-size: 11px;

	}

}


header {

	@mixin break-logo {
		@media (max-width: 960px) {
			@content;
		}
	}

	@mixin break-dates {
		// @media (max-width: 880px) and (min-width: 581px) {
		@media (max-width: 880px) {
			@content;
		}
	}

	@mixin break-member {
		@media (max-width: 770px) {
			@content;
		}
	}

	@mixin break-title {
		@media (max-width: 580px) {
			@content;
		}
	}

	@mixin break-margins {
		@media (max-width: 400px) {
			@content;
		}
	}

	@mixin break-ticket {
		@media (max-width: 380px) {
			@content;
		}
	}

	position: relative;
	z-index: 2;

	background-color: $color-blue-dark;
	width: 100%;

	padding: 16px 36px;

	@include break-margins {
		padding: 16px 20px;
	}

	justify-content: space-between;

	// Applies to self and immediate child divs
	&, > div {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	// Disable word-wrapping by default
	* {
		white-space: nowrap;
	}

	.header-left {

		justify-content: flex-start;

		flex-grow: 2;

		a {
			display: inline-block;
			height: 80px;

			img {
				height: 100%;
			}

			@include break-logo {
				display: none;
			}

		}

		.exhibit {

			color: $color-orange;

			padding: 0px 50px;

			@include break-logo {
				padding-left: 0px;
			}


			@include break-margins {
				padding-right: 20px;
			}

			span {
				display: inline-block;
			}

			span.title {
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;

				text-transform: uppercase;
				letter-spacing: 5px;

				font-size: 13px;
			}

			span.pipe {
				padding: 0px 10px;

				@include break-title {
					display: none;
				}
			}

			span.subtitle {
				font-family: 'Sabon', Garamond, serif;
				font-style: italic;

				letter-spacing: 2px;

				font-size: 15px;

				@include break-title {
					display: none;
				}

			}
		}

	}

	.header-right {

		justify-content: space-between;

		flex-grow: 1;

		span.dates {
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;

			text-transform: uppercase;
			letter-spacing: 0.76px;

			font-size: 11px;

			color: $color-orange;

			@include break-dates {

				text-align: center;

				.start, .end {
					display: block;
				}

				.dash {
					display: none;
				}

			}

		}

		.btn-member {
			@include break-member {
				display: none;
			}
		}

		.btn-ticket .verb {
			@include break-ticket {
				display: none;
			}
		}

	}

	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
	}

}

section.slideshow {}

section.video {}

section.theme-one-image {}

section.theme-two-images {}

section.theme-four-images {}

section.quote {}

section.events {}

section.resources {}

section.shop {}

section.call-to-action {
	background-color: $color-blue-dark;

	width: 100%;

	padding: 16px 36px;

	text-align: center;

	color: $color-orange;

	h1 {
		font-family: Sabon-ItalicOsF, Garamond, serif;
		font-style: italic;
		font-size: 45px;
		letter-spacing: 2px;
		margin-bottom: 38px;
	}

	h2 {
	    font-family: Montserrat-Bold;
	    font-size: 17px;
	    color: $color-white;
	    letter-spacing: 2px;
	    text-transform: uppercase;

	    margin-bottom: 50px;

	    a {
		border-bottom: 2px solid $color-white;
		padding-bottom: 7px;
	    }
	}

	ul {
	    list-style-type: none;
	    margin-bottom: 34px;

	    li {
		display: inline;
		margin: 0 16px;
	    }
	    a {
		font-size: 11px;

		letter-spacing: 0.61px;
		padding: 14px 18px;
	    }
	}

	h3 {
	    font-family: Montserrat-Bold;
	    text-transform: uppercase;
	    font-size: 19px;
	    letter-spacing: 2px;
	    margin-bottom: 17px;
	}

	p {
	    margin-bottom: 15px;
	}
}

section.footer {}

section.quote {

	background-color: #4A4A4A;

	position: relative;
	overflow: hidden;

	.background, blockquote {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate( -50%, -50%)
	}

	.background {

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		height: 100%;
		width: 100%;

		opacity: 0.53;

	}

	blockquote {

		font-family: 'Knockout', sans-serif;

		text-align: center;

		font-size: 18px;
		line-height: 2;

		border: 1vw solid white;
		color: white;

		padding: 30px;
		width: 80%;

		@media (min-width: 520px) {
			font-size: 4.2vw;
			padding: 4vw 10vw;
			width: 70%;
		}

		@media (min-width: 800px) {
			border: 8px solid white;
			font-size: 4.2vw;
		}


		p:first-of-type:before {
			content: "“";
		}

		p:last-of-type:after {
			content: "”";
		}

	}


}
